<html>
    <head>
        <title>Alta de ausencia</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a th:href="@{/}" class="navbar-brand text-info fw-semibold fs-3">Sanatorio Mayo</a>

                <div class="ms-auto d-flex align-items-center">
                    <div>
                        <i class="bi bi-person-fill navbar-brand text-info fw-semibold fs-4"></i>
                        <span th:text="${#authentication.name}" class="navbar-brand text-info fw-semibold fs-4"></span>
                    </div>
                    <a th:href="@{/logout}" class="navbar-brand text-info fw-semibold fs-4"><i class="bi bi-box-arrow-right navbar-brand text-info fw-semibold fs-4"></i></a>
                </div>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#menuLateral">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--off canvas main container start -->
                <section class="offcanvas offcanvas-start bg-dark"
                         id="menuLateral" tabindex="-1">
                    <div class="offcanvas-header"data-bs-theme="dark">
                        <h5 class="offcanvas-title text-info">Menu:</h5> 
                        <button class="btn-close"type="button"
                                aria-label="Close" data-bs-dismiss="offcanvas">                                  
                        </button>
                    </div>

                    <div class="offcanvas-body d-flex flex-column
                         justify-content-between px-0">
                        <ul class="navbar-nav fs-5" >
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"  class="nav-item p-3 py-md-1 bg-dark text-info text-large">Empleados:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/empleado/alta}" class="nav-link">Alta</a></li>
                                    <li><a th:href="@{/empleado/ver}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Contratos:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/contrato/lista}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Licencias:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/licenciasOrdinaria/generar}" class="nav-link">Generar Ordinarias</a></li>
                                    <li><a th:href="@{/licencia/lista}" class="nav-link">Vista Tomadas</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Parte Diario:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/partediario}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li class="nav-item p-3 py-md-1 bg-dark text-info text-large">Inasistencias:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/ausencia/alta}" class="nav-link">Carga Ausencias</a></li>
                                    <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"><a th:href="@{/ausencia/lista}" class="nav-link">Generar Inasistencia</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="d-lg-none align-self-center">
                            <a class="text-primary"><i class="bi bi-globe px-2 text-info fs-3"></i>Orebernet</a>
                        </div>
                    </div>
                </section>
                <!--off canvas main container end -->
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-body">
                            <h2 class="card-title">Carga de ausencia: </h2>
                            <br>
                            <form th:action="@{/ausencia/alta}" th:object="${ausencia}" method="POST">
                                <div th:if="${empleado == null}" class="mb-3">

                                    <a class="btn btn-outline-primary" th:href="@{/ausencia/alta/empleado}" role="button">Seleccionar Empleado</a>
                                </div>
                                <div th:if="${empleado != null}">
                                    <div class="card">
                                        <div class="card-header">
                                            Detalles del Empleado
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${empleado.nombre + ' ' + empleado.apellido}"></h5>
                                            <p class="card-text" th:text="'Nro. Legajo: ' + ${empleado.nroLegajo}"></p>
                                            <input type="hidden" name="empleadoId" id="empleadoId" th:value="${empleado.id}">
                                        </div>
                                        <div class="card-footer">
                                            <a href="/ausencia/alta/empleado" class="btn btn-outline-primary float-right">
                                                <i class="fas fa-edit"></i> Cambiar
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="mb-3">
                                    <label class="form-check-label" for="fecha">Fecha:</label>
                                    <input type="date" class="form-control" id="fecha" name="fecha" th:field="*{fecha}" required>
                                    <div class="invalid-feedback" id="fechaError"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="tipoInasistencia">Seleccione un motivo:</label>
                                    <select class="form-select" name="tipoInasistencia" id="tipoInasistencia" th:field="*{tipoInasistencia.id}" required>
                                        <option th:each="tipo : ${tiposinasistencia}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <input type="text" class="form-control" name="descripcion" placeholder="Descripcion" th:field="*{descripcion}" required>
                                </div>
                        </div>
                        <div class="mb-3">
                            <input type="hidden" name="tipoInasistenciaId" id="tipoInasistenciaId">
                            <button type="submit" id="btn_submit" class="btn btn-primary m-3" onclick="agregarTipoInasistenciaId()">Guardar Ausencia</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>         
    
    <script th:inline="javascript">
        $(document).ready(function (){
            
            $("#fecha").on("change", function (){
                validarFecha();
            });
        });
        function agregarTipoInasistenciaId() {
            var tipoId = $("#tipoInasistencia").val();
            $("#tipoInasistenciaId").val(tipoId);
        }
        
        function validarFecha(){
            var fecha = new Date($("#fecha").val());
            var fechaActual = new Date();
            fechaActual.setDate(fechaActual.getDate() - 1);
            var fechaLimite = new Date(fechaActual);
            fechaLimite.setDate(fechaLimite.getDate()+4);
            if(fecha<=fechaActual){
                $("#fechaError").text("La fecha de la ausencia no puede ser menor a la fecha actual.");
                $("#fecha").addClass("is-invalid");
                $("#btn_submit").prop("disabled", true);
            }else{
                if(fecha>=fechaLimite){
                $("#fechaError").text("No puede cargar ausencias con tanta antelacion.");
                $("#fecha").addClass("is-invalid");
                $("#btn_submit").prop("disabled", true);
            }else{
                $("#fechaError").text("");
                $("#fecha").removeClass("is-invalid");
                $("#btn_submit").prop("disabled", false);
            }
            }
   
        }

    </script>
</body>
</html>
