<html>
    <head>
        <title>Editar licencia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a th:href="@{/}" class="navbar-brand text-info fw-semibold fs-3">Sanatorio Mayo</a>

                <div class="ms-auto d-flex align-items-center">
                    <div>
                        <i class="bi bi-person-fill navbar-brand text-info fw-semibold fs-4"></i>
                        <span th:text="${#authentication.name}" class="navbar-brand text-info fw-semibold fs-4"></span>
                    </div>
                    <a th:href="@{/logout}" class="navbar-brand text-info fw-semibold fs-4"><i class="bi bi-box-arrow-right navbar-brand text-info fw-semibold fs-4"></i></a>
                </div>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#menuLateral">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--off canvas main container start -->
                <section class="offcanvas offcanvas-start bg-dark"
                         id="menuLateral" tabindex="-1">
                    <div class="offcanvas-header"data-bs-theme="dark">
                        <h5 class="offcanvas-title text-info">Menu:</h5> 
                        <button class="btn-close"type="button"
                                aria-label="Close" data-bs-dismiss="offcanvas">                                  
                        </button>
                    </div>

                    <div class="offcanvas-body d-flex flex-column
                         justify-content-between px-0">
                        <ul class="navbar-nav fs-5" >
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"  class="nav-item p-3 py-md-1 bg-dark text-info text-large">Empleados:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/empleado/alta}" class="nav-link">Alta</a></li>
                                    <li><a th:href="@{/empleado/ver}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Contratos:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/contrato/lista}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Licencias:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/licenciasOrdinaria/generar}" class="nav-link">Generar Ordinarias</a></li>
                                    <li><a th:href="@{/licencia/lista}" class="nav-link">Vista Tomadas</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Parte Diario:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/partediario}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li class="nav-item p-3 py-md-1 bg-dark text-info text-large">Inasistencias:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/ausencia/alta}" class="nav-link">Carga Ausencias</a></li>
                                    <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"><a th:href="@{/ausencia/lista}" class="nav-link">Generar Inasistencia</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="d-lg-none align-self-center">
                            <a class="text-primary"><i class="bi bi-globe px-2 text-info fs-3"></i>Orebernet</a>
                        </div>
                    </div>
                </section>
                <!--off canvas main container end -->
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Columna "Información Licencia" -->
                    <div class="card mt-3">
                        <div class="card-body">
                            <form th:action="@{/licencia/editar/{id}(id=${licencia.idLicenciaTomada})}" th:object="${licencia}" method="POST">
                                <div class="card-body d-flex justify-content-between">
                                    <h2 class="card-title">Editar licencia:</h2>
                                </div>
                                <br>
                                <div class="mb-3">
                                    <label class="form-check-label fw-bold fs-6" for="tipo">Tipo: </label>
                                    <select class="form-control" id="tipo" name="idTipo" required onchange="actualizarDiasRestantes()" disabled>
                                        <option th:each="dto : ${dtos}" th:value="${dto.idTipo}" th:text="${dto.nombre}" th:attr="data-diasRestantes=${dto.diasRestantes}" th:selected="${dto.idTipo == licencia.tipoLicencia.id}"></option>
                                    </select>
                                    <p id="diasRestantesParrafo">
                                        Días restantes:
                                        <span th:text="${diasrestantes != null ? diasrestantes : 'no tiene límite'}" id="diasRestantesSpan"></span>
                                        <input type="hidden" id="diasConsumidos" th:value="${diasconsumidos}">
                                        <input type="hidden" id="diasRestantes" th:value="${diasrestantes}">
                                        <input type="hidden" id="anio" th:value="${anio}">
                                    </p>
                                </div>
                                <div class="mb-3">
                                    <label class="form-check-label fw-bold fs-6" for="fechaDesde">Fecha Desde</label>
                                    <input type="date" class="form-control" id="fechaDesde" name="fechaDesde" th:field="*{fechaDesde}" required>
                                    <div class="invalid-feedback" id="fechaDesdeError"></div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-check-label fw-bold fs-6" for="fechaHasta">Fecha de Reincorporacion:</label>
                                    <input type="date" class="form-control" id= "fechaHasta" name="fechaHasta" th:field="*{fechaHasta}" required>
                                    <div class="invalid-feedback" id="fechaHastaError"></div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="certificado" name="certificado" th:field="*{certificado}">
                                        <label class="form-check-label" for="certificado">Certificado</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="descripcion" placeholder="Descripcion" th:field="*{descripcion}" required>
                                    <input type="hidden" name="idEmpleado" th:value="${empleado.id}">
                                </div>
                                <div th:if="${superpuesta != null}" class="alert alert-danger mx-3" role="alert">
                                    <strong th:text="|Error al cargar la licencia: |"> </strong>
                                    <span th:text="|se superpone a la licencia desde ${#temporals.format(superpuesta.fechaDesde, 'dd/MM/YYYY')} hasta ${#temporals.format(superpuesta.fechaHasta, 'dd/MM/YYYY')}|"></span>
                                </div>
                                <div th:if="${inasistenciaSup != null}" class="alert alert-danger mx-3" role="alert">
                                    <strong th:text="|Error al cargar la licencia: |"> </strong>
                                    <span th:text="|se superpone a la inasistencia de ${#temporals.format(inasistenciaSup.fecha, 'dd/MM/YYYY')}, por el motivo ${inasistenciaSup.tipoInasistencia.nombre}|"></span>
                                </div>
                                <div class="mb-3 d-flex justify-content-end">
                                    <button type="submit" id="btn_submit" class="btn btn-primary m-3 rounded">
                                        <i class="bi bi-floppy"></i> Guardar Licencia
                                    </button>
                                    <a th:href="@{/empleado/licencia/ver/{id}(id=${empleado.id})}">
                                        <button type="button" class="btn btn-danger m-3 rounded">
                                            <i class="bi bi-x-square"></i> Cancelar
                                        </button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Columna "Información Empleado" -->
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="card-body d-flex justify-content-between">
                                <h2 class="card-title">Información Empleado:</h2>                               
                            </div>
                            <br>
                            <div class="mb-3">
                                <label class="form-check-label fw-bold fs-6" for="nrolegajo">NRO legajo:</label>
                                <p><span name="nrolegajo" th:text="${empleado.nroLegajo}" class="text-muted fs-5"></span></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-check-label fw-bold fs-6" for="nombreyapellido">Empleado:</label>
                                <p><span name="nombreyapellido" th:text="${empleado.nombre + ' ' + empleado.apellido}" class="text-muted fs-5"></span></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-check-label fw-bold fs-6" for="sector">Sector: </label>
                                <p><span name="nombreyapellido" th:text="${empleado.sector.nombre}" class="text-muted fs-5"></span></p>
                            </div>
                            <div class="mb-3">
                                <label class="form-check-label fw-bold fs-6" for="fechaIngreso">Fecha de Ingreso: </label>
                                <p><span name="fechaIngreso" th:text="${#temporals.format(empleado.fechaIngreso, 'dd/MM/YYYY')}" class="text-muted fs-5"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>        
        <script th:inline="javascript">
                                        $(document).ready(function () {
                                            $("#fechaDesde, #fechaHasta").on("change", function () {
                                                validarFechas();
                                            });


                                        });


                                        function validarFechas() {
                                            var fechaDesde = new Date($("#fechaDesde").val());
                                            var fechaHasta = new Date($("#fechaHasta").val());
                                            var anio = parseInt(document.getElementById("anio").value);
                                            var dias = parseInt(document.getElementById("diasRestantes").value);
                                            var diasConsumidos = parseInt(document.getElementById("diasConsumidos").value);
                                            var fechaLimiteInferior = new Date(anio, 0, 1); // 1ro de enero de año ingresado
                                            var fechaLimiteSuperior = new Date(anio, 11, 31); // 31 de diciembre de año ingresado




                                            console.log("------------------");
                                            console.log("ANIO: " + anio);
                                            console.log("DIAS TOTALES: " + dias);
                                            console.log("FECHA DESDE: " + formatearFecha(fechaDesde));
                                            console.log("FECHA LIMITE INFERIOR: " + formatearFecha(fechaLimiteInferior));
                                            console.log("FECHA HASTA: " + formatearFecha(fechaHasta));
                                            console.log("FECHA LIMITE SUPERIOR: " + formatearFecha(fechaLimiteSuperior));
                                            console.log("DIAS DE PERIODO SELECCIONADO: " + (Math.floor((Date.UTC(fechaHasta.getFullYear(), fechaHasta.getMonth(), fechaHasta.getDate()) - Date.UTC(fechaDesde.getFullYear(), fechaDesde.getMonth(), fechaDesde.getDate())) / (1000 * 60 * 60 * 24))));
                                            console.log("------------------");

                                            // Restablecer estado inicial
                                            $("#btn_submit").prop("disabled", true);
                                            $("#fechaInicioError, #fechaHastaError").text("");
                                            $("#fechaDesde, #fechaHasta").removeClass("is-invalid");

                                            // Validación de fechas
                                            switch (true) {
                                                case fechaHasta <= fechaDesde:
                                                    $("#fechaHastaError").text("La fecha de reincorporacion no puede ser menor a la fecha de inicio");
                                                    $("#fechaHasta").addClass("is-invalid");
                                                    break;

                                                case fechaDesde < fechaLimiteInferior:
                                                    $("#fechaDesdeError").text("La fecha de inicio está por debajo de la fecha límite establecida.");
                                                    $("#fechaDesde").addClass("is-invalid");
                                                    break;

                                                case fechaHasta > fechaLimiteSuperior:
                                                    $("#fechaHastaError").text("La fecha de reincirporacion supera la fecha límite establecida.");
                                                    $("#fechaHasta").addClass("is-invalid");
                                                    break;


                                                case (Math.floor((Date.UTC(fechaHasta.getFullYear(), fechaHasta.getMonth(), fechaHasta.getDate()) - Date.UTC(fechaDesde.getFullYear(), fechaDesde.getMonth(), fechaDesde.getDate())) / (1000 * 60 * 60 * 24))) > (dias + diasConsumidos):
                                                    // Se superan los días disponibles
                                                    $("#fechaHastaError").text("Se superan los días que tiene disponibles.");
                                                    $("#fechaHasta").addClass("is-invalid");
                                                    $("#fechaDesde").addClass("is-invalid");
                                                    break;

                                                default:
                                                    // Habilitar el botón si no hay errores
                                                    $("#btn_submit").prop("disabled", false);
                                                    break;
                                            }
                                        }

                                        function formatearFecha(fecha) {
                                            var dia = fecha.getDate();
                                            var mes = fecha.getMonth() + 1; // ¡Ojo! getMonth devuelve de 0 a 11
                                            var anio = fecha.getFullYear();

                                            // Asegurarse de que el día y el mes tengan dos dígitos
                                            if (dia < 10) {
                                                dia = '0' + dia;
                                            }
                                            if (mes < 10) {
                                                mes = '0' + mes;
                                            }

                                            return dia + '/' + mes + '/' + anio;
                                        }
        </script>
    </body>
</html>
