<html>
    <head>
        <title>Licencias empleado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    </head>
    <body>
       <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a th:href="@{/}" class="navbar-brand text-info fw-semibold fs-3">Sanatorio Mayo</a>
                
                 <div class="ms-auto d-flex align-items-center">
                    <div>
                        <i class="bi bi-person-fill navbar-brand text-info fw-semibold fs-4"></i>
                        <span th:text="${#authentication.name}" class="navbar-brand text-info fw-semibold fs-4"></span>
                    </div>
                    <a th:href="@{/logout}" class="navbar-brand text-info fw-semibold fs-4"><i class="bi bi-box-arrow-right navbar-brand text-info fw-semibold fs-4"></i></a>
                </div>
                
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#menuLateral">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 
                <!--off canvas main container start -->
                <section class="offcanvas offcanvas-start bg-dark"
                         id="menuLateral" tabindex="-1">
                    <div class="offcanvas-header"data-bs-theme="dark">
                        <h5 class="offcanvas-title text-info">Menu:</h5> 
                        <button class="btn-close"type="button"
                                aria-label="Close" data-bs-dismiss="offcanvas">                                  
                        </button>
                    </div>

                    <div class="offcanvas-body d-flex flex-column
                         justify-content-between px-0">
                        <ul class="navbar-nav fs-5" >
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"  class="nav-item p-3 py-md-1 bg-dark text-info text-large">Empleados:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/empleado/alta}" class="nav-link">Alta</a></li>
                                    <li><a th:href="@{/empleado/ver}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Contratos:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/contrato/lista}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Licencias:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/licenciasOrdinaria/generar}" class="nav-link">Generar Ordinarias</a></li>
                                    <li><a th:href="@{/licencia/lista}" class="nav-link">Vista Tomadas</a></li>
                                </ul>
                            </li>
                            <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"
                                class="nav-item p-3 py-md-1 bg-dark text-info" >Parte Diario:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/partediario}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li class="nav-item p-3 py-md-1 bg-dark text-info text-large">Inasistencias:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/ausencia/alta}" class="nav-link">Carga Ausencias</a></li>
                                    <li th:if="${#authorization.expression('hasAuthority(''RRHH'')')}"><a th:href="@{/ausencia/lista}" class="nav-link">Generar Inasistencia</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="d-lg-none align-self-center">
                            <a class="text-primary"><i class="bi bi-globe px-2 text-info fs-3"></i>Orebernet</a>
                        </div>
                    </div>
                </section>
                <!--off canvas main container end -->
            </div>
        </nav>
        <div class="modal" tabindex="-1" id="modalBaja" aria-labelledby="modalBajaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/licencia/baja/}" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar licencia</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>ADVERTENCIA:</strong> Si presiona en "Eliminar", la licencia se eliminará de forma PERMANENTE.
                            </div>
                            <div class="mb-3">
                                <input type="hidden" id="licenciaId" name="id" value="">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h1>Licencias: </h1>

            </div>
            <table class="table table-success table-striped table-bordered">
                <thead class="table">
                    <tr>
                        <th>ID</th>
                        <th>Fecha Desde</th>
                        <th>Fecha Hasta</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "licencia : ${licencias}" th:class="${licencia.terminada} ? 'table-danger' : 'table-success'">
                        <td th:text="${licencia.idLicenciaTomada}">ID</td>
                        <td th:text="${#temporals.format(licencia.fechaDesde, 'dd/MM/YYYY')}">Fecha Desde</td>
                        <td th:text="${#temporals.format(licencia.fechaHasta, 'dd/MM/YYYY')}">Fecha Hasta</td>
                        <td th:text="${licencia.tipoLicencia.nombre}">Tipo</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a th:href="@{/licencia/editar/{id}(id=${licencia.idLicenciaTomada}, idEmpleado=${idEmpleado})}"><button class="btn btn-primary px-2">Editar</button></a>
                                &nbsp;&nbsp;
                                <a th:href="@{/empleado/licencia/ver/detalle/{id}(id=${licencia.idLicenciaTomada})}"><button class="btn btn-primary px-2">Detalle</button></a>
                                &nbsp;&nbsp;
                                 <button class="btn btn-danger px-2" data-bs-toggle="modal" data-bs-target="#modalBaja" id="btnBaja" th:data-id="${licencia.idLicenciaTomada}">Eliminar</button>
                            </div>
                        </td>  
                    </tr>
                </tbody>
            </table>

            <a th:href="@{/empleado/detalle/{id}(id=${idEmpleado})}" class="btn btn-danger float-end m-2">
                <i class="bi bi-arrow-90deg-left bi-lg"></i>
                <span class="font-weight-bold">Volver</span>
            </a>
            &nbsp;&nbsp;
            <a th:href="@{/empleado/licencia/alta/{idEmpleado}(idEmpleado=${idEmpleado})}"><button class="btn btn-primary float-end m-2">Nueva</button></a>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script>
            $(document).on("click", "#btnBaja", function () {
                const id = $(this).data("id");
                const parsedId = parseInt(id);
                console.log("ID de la licencia " + parsedId); // Verifica si se muestra el ID correctamente
                $("#licenciaId").val(parsedId);

            });

        </script>
    </body>

</html>
