<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Vista de empleados</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="modal" tabindex="-1" id="modalBaja" aria-labelledby="modalBajaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:action="@{/empleado/baja/{id}(id=${empleadoId})}" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title">Baja empleado</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <input type="hidden" id="empleadoId" name="id">
                                <label for="fecha_baja">Fecha de baja:</label>
                                <input type="date" class="form-control" name="fechaBaja" required="required">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Baja</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="" class="navbar-brand text-info fw-semibold fs-3">Sanatorio Mayo</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#menuLateral">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--off canvas main container start -->
                <section class="offcanvas offcanvas-start bg-dark"
                         id="menuLateral" tabindex="-1">
                    <div class="offcanvas-header" data-bs-theme="dark">
                        <h5 class="offcanvas-title text-info">Menu:</h5> 
                        <button class="btn-close" type="button"
                                aria-label="Close" data-bs-dismiss="offcanvas">                                  
                        </button>
                    </div>

                    <div class="offcanvas-body d-flex flex-column
                         justify-content-between px-0">
                        <ul class="navbar-nav fs-5">
                            <li class="nav-item p-3 py-md-1 bg-dark text-info text-large">Empleados:
                                <ul class="navbar-nav fs-5">
                                    <li><a th:href="@{/empleado/alta}" class="nav-link">Alta</a></li>
                                    <li><a th:href="@{/empleado/ver}" class="nav-link">Vista</a></li>
                                </ul>
                            </li>
                            <li class="nav-item p-3 py-md-2 bg-dark text-info">Domicilios:
                                <ul class="navbar-nav fs-5">
                                    <li><a href="#" class="nav-link">Vista</a></li>
                                    <li><a href="#" class="nav-link">Cobertura</a></li>
                                </ul>
                            </li>
                            <li class="nav-item p-3 py-md-1 bg-dark text-info">Contratos:
                                <ul class="navbar-nav fs-5">
                                    <li><a href="#" class="nav-link">Nuevo</a></li>
                                    <li><a href="#" class="nav-link">Vigentes</a></li>
                                </ul>
                            </li>
                            <li class="nav-item p-3 py-md-1 bg-dark text-info">Licencias:
                                <ul class="navbar-nav fs-5">
                                    <li><a href="#" class="nav-link">Generar Ordinarias</a></li>
                                    <li><a href="#" class="nav-link">Vista Tomadas</a></li>
                                    <li><a href="#" class="nav-link">Generar Tomada</a></li>
                                </ul>
                            </li>
                            <li class="nav-item p-3 py-md-1 bg-dark text-info">Parte Diario:
                                <ul class="navbar-nav fs-5">
                                    <li><a href="#" class="nav-link">Vista</a></li>
                                    <li><a href="#" class="nav-link">Antiguos</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="d-lg-none align-self-center">
                            <a class="text-primary"><i class="bi bi-globe px-2 text-info fs-3"></i>Orebernet</a>
                        </div>
                    </div>
                </section>
                <!--off canvas main container end -->
            </div>
        </nav>
        
        <div class="container">
            <br><br>
    <!-- Formulario de Filtros -->
        <div class="row">
            <div class="col-12 col-md-4"> 
                <form class="form-inline" th:action="@{/empleado/ver}">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" name="palabra" placeholder="Buscar" id="palabra" th:value="${palabraClave}">
                    </div>
                    <div class="form-group form-check mx-sm-3 mb-2">
                        <input type="checkbox" class="form-check-input" name="deBaja" id="deBaja" th:checked="${deBaja}">

                        <label class="form-check-label" for="deBaha">Empleados no activos</label>
                    </div>
                     <input type="submit" class="btn btn-secondary mb2" value="Limpiar">
                     &nbsp;
                     <input type="submit" class="btn btn-primary mb2" value="Buscar">
                </form>
            </div>
     </div>
    <br><br>
        <div class="container">
            <div class="row">
                <h1>Lista de empleados<h1>
                        </div>
                        <table class="table table-success table-striped table-bordered">
                            <thead class="table">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Nro Legajo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each = "empleado : ${empleados}" th:class="${empleado.baja} ? 'table-danger' : 'table-success'">
                                    <td th:text="${empleado.id}">ID</td>
                                    <td th:text="${empleado.nombre}">Nombre</td>
                                    <td th:text="${empleado.apellido}">Apellido</td>
                                    <td th:text="${empleado.nroLegajo}">Nro Legajo</td>
                                    <td>
                                         <div class="btn-group" role="group">
                                            <a th:href="@{/empleado/editar/{id}(id=${empleado.id})}"><button class="btn btn-primary px-2">Editar</button></a>
                                            &nbsp;&nbsp;
                                            <button class="btn btn-danger px-2" data-bs-toggle="modal" data-bs-target="#modalBaja" id="btnBaja" th:data-id="${empleado.id}" th:if="${!empleado.baja}">Baja</button>
                                            &nbsp; &nbsp;
                                            <a th:href="@{/empleado/detalle/{id}(id=${empleado.id})}"><button class="btn btn-info px-2">Detalles</button></a>
                                            &nbsp; &nbsp;
                                        </div>
                                    </td>  
                                </tr>
                            </tbody>
                        </table>
                </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
            <script>
                $(document).on("click", "#btnBaja", function (){
                    var id =$(this).data("id");
                    
                    $("#empleadoId").val(id);
                });

            </script>

    
    </body>
</html>
